#firstimage{
    height: 300px;
    width: 400px;
    padding-right: 15px;
    padding-bottom: 10px;
    float: left;
    }
#secondimage{
    height: 150px;
    width: 200px;
}
body{
    background: #ededed;
    margin-bottom: 5%;
}
#Viz1image{
    height: 400px;
    width: 600px;
    padding-right: 15px;
    padding-bottom: 10px;
}
#city_table{
    border-collapse: collapse;
    width: 100%;
    font-size:10pt;
    table-layout: auto;
    background-color: white;
    margin-bottom: 10%;
}
.vizpara{
    width: 600px;
}
.card-padding {
    padding: 1rem 1rem 1rem 1rem;
  }
